* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
}


h1 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.39;
    letter-spacing: 4px;
    text-align: left;
    color: #332e3d;
    margin-top: 0px;
    margin-bottom: 40px;
}

h2, h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 4px;
    color: #332e3d;
}
h4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 4px;
    color: #332e3d;   
}
p {
    margin: 0;
}
a {
    color: #332e3d;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 4px;
    color: #332e3d;    
    padding: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    color: white;   
    width: 200px;
}


.button {
    border-radius: 30px;
    background-color: white;
    color: #332e3d;
    padding:10px 20px; 
    width: 140px;
    cursor: pointer;
}

.clear {
    clear: both;
}

ul li:before {
  content: "\2713\0020";
}

.dark {
    background: #332e3d;
}
.dark h1 {
    color: white;
}
.dark h2 {
    color: white;
}

.purple {
    background: #391c75;
}
.purple h1 {
    color: white;
}
.purple h2 {
    color: white;
}

.section {


}
.content-box {
    width: 670px;
    background-color: #ffffff;
    z-index: 999;
    min-height: 350px;
    padding: 65px 80px;
}
.right {
    float: right;
}

.pointer {
    
}

.home {
    position: relative;
}

.home__image {
    background: url('../images/home.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 70%;
    height: calc(100% - 20px);
    right: 10px;
    top: 10px;
    z-index: -1;
}

.home__intro {}

.home__intro img { 
    height: 100px;
    margin-left: -30px;
}

.home__intro h1 {}


.home__intro button {
    width: 176px;
    height: 50px;
    border-radius: 100px;
    background-color: #332e3d;
    border: 0;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.section .community {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 10px;
    background: url('../images/communitybg.jpg') no-repeat center center ;
    background-size: cover;
}

.home__community {
    margin: 0 auto;   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.home__community h2 {
    text-align: center;
}

.included__image {
    background: url('../images/IMG_2426.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 70%;
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    z-index: -1;
}

.shared__image {
    background: url('../images/shared.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;
    z-index: -1;
}

.section .price {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
 .price h1 { 
    text-align: center;
}

.section .onboarding {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
 .onboarding h1 { 
    width: 800px;
    text-align: center;
    margin: 0 auto;
}


.section .contact {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.contact h1 { 
    text-align: center;
    margin: 0 auto;
}
.section .aboutus {
    text-align: center;
    padding: 0 80px;
    width: 60%;
    display: inline-block;
    float: left;
}

.section .images {
    padding: 0 10px 0 0;
    width: 40%;
    display: inline-block;
    text-align: right;
}

.section .location {
    padding: 80px 40px 40px 40px;
}
.info .location {
    display: inline-block;
}